<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<br>
<div class="container">
  <div class="jumbotron bg-info text-center">
    <h1 style="color:white">Top Clasificaciones De Boxeadores</h1>
  </div>
</div>
<table class="table table-lg table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Boxeador</th>
      <th scope="col">Record</th>
      <th scope="col">Categoria de Peso</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> Saúl Álvarez</td>
      <td>52-1-2 (35 KO)</td>
      <td>Mediano</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td> Vasyl Lomachenko</td>
      <td>14-2 (10 KO)</td>
      <td>Ligero</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Naoya Inoue​</td>
      <td>19-0 (16 KO)</td>
      <td>Gallo</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Oleksandr Usyk7​​</td>
      <td>17-0 (12 KO)</td>
      <td>Pesado</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td> Terence Crawford​</td>
      <td>36-0 (27 KO)</td>
      <td>Wélter</td>
    </tr>
  </tbody>
</table>


</body>
</html>
