<body style="background-image: url(assets/img/a.jpg); background-repeat:no-repeat;background-size: cover;" >

<div class="row ">
    <div class="col-3">
        <div class="card h-100 ">
            <img [src]="boxeador.photo" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">{{boxeador.id}}</h3>
                <p class="card-text">Nombre : {{boxeador.nombre}}</p>
                <p  class="card-text">Descripcion : {{boxeador.descripcion}} </p>
                <p  class="card-text" class="ocultar"> Cinturones : <span *appForDelay = "let b of boxeador.cinturones">{{b}}  /</span></p>
                <a  class="btn btn-dark" [routerLink]="['/boxeadores']">Volver atrás</a>
            </div>
        </div>
    </div>
</div>

</body>
